@font-face {
  font-family: "Alcubierre";
  src: url("/resources/fonts/Alcubierre.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

header #index a, header ul li a {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  line-height: 1.2;
}

header #link-cv a {
  color: #ffffff;
  font-weight: bold;
}

header #link-cv a:hover {
  font-weight: bold;
  font-size: 1.1rem;
}

header #link-cv a:active {
  color: #FF6F61;
}

header #index a, header #link-graph a, header #link-arch a {
  color: #F1F0E2;
  border: none;
  font-weight: lighter;
}

header #index a:hover, header #link-graph a:hover, header #link-arch a:hover {
  font-weight: normal;
}

header #index a:active, header #link-graph a:active, header #link-arch a:active {
  color: #FF6F61;
}

body {
  font-size: 16px;
}

body a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  z-index: 10;
  position: static;
  background-color: #004680;
  display: inline-flex;
  padding: 0 1.5rem;
}

@media only screen and (max-width: 720px) {
  header {
    height: auto;
    padding: 0.5rem 1rem 1rem 1rem;
    flex-direction: column;
  }
}

header ul {
  width: 100%;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 720px) {
  header ul {
    height: auto;
    margin-top: 0.5rem;
    justify-content: space-between;
  }
}

header ul li a {
  text-transform: lowercase;
  text-align: center;
  margin: 0.5rem 1.5rem;
}

@media only screen and (max-width: 720px) {
  header ul li a {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

header #link-graph {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  header #link-graph #graph1 {
    display: none;
  }
}

header #link-graph #graph2 {
  display: none;
}

@media only screen and (max-width: 480px) {
  header #link-graph #graph2 {
    display: block;
  }
}

header #index {
  display: inline-flex;
  align-items: center;
}

@media only screen and (max-width: 720px) {
  header #index {
    justify-content: center;
  }
}

header #index a {
  text-transform: uppercase;
}
