@import "helpers/variables";
@import "helpers/fonts";
@import "helpers/placeholders";
@import "helpers/mixins";

// GENERAL -------------------------------------------
body {
    font-size: 16px;

    a {
        text-decoration: none;
    }
}

// HEADER -------------------------------------------
// Navbar ----------------
.navbar {
    @include navbar ($livingcoral);  // change color

    @media only screen and (min-width: 500px) and (max-width: 720px) {
        height: auto;
        min-height: 70px;
        padding: 0 1rem;
    }
    @media only screen and (max-width: 500px) {
        justify-content: space-between;
        padding-right: 0;
    }

    ul {
        width: 100%;
        height: 70px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 500px) and (max-width: 720px) {
            height: auto;
            display: flex;
            justify-content: space-around; 
        }
        @media only screen and (max-width: 500px) {
            display: flex;
            justify-content: space-evenly; 
        }

        li {
            a {
                @extend %nav-link;
                
                @media only screen and (max-width: 720px) {
                    margin: 0 0.5rem;
                    padding: 0.5rem;
                }
                @media only screen and (max-width: 500px) {
                    transform: scale(0.9);
                    margin: 0 0.3rem;
                }
            }
        }
    }
    
    #link-selected {
        a {
            @include selected ($white);

            // &:hover {
            //     @include selected-hover (bold);
            // }
            &:active {
                @include selected-active ($blue-classic); // change color
            }
        }
    }

    #link-non-selected {
        a {
            @include non-selected ($white); // CHANGED!!

            &:hover {
                @include non-selected-hover (normal);
            }
            &:active {
                @include selected-active ($blue-classic); // change color
            }
        }
    }


    #graph1 {
        @media only screen and (max-width: 500px) {
            display: none;
        }
    }

    #graph2 {
        display: none;
        @media only screen and (max-width: 500px) {
            display: block;
        }
    }

    #index {
        display: inline-flex;
        align-items: center;

        @media only screen and (max-width: 720px) {
            justify-content: center;
        }

        i {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            color: $white;

            @media only screen and (max-width: 500px) {
                padding: 0.5rem 1rem 0.5rem 0; 
            }

            &:hover {
                font-size: 1.3rem;
            }
            &:active {
                @include selected-active ($blue-classic); // change color
            }
        }
    }
}


// Menu Icon ----------------
#menu-icon {
    i {
        font-size: 1.2rem;
        color: $livingcoral; // change color
        position: fixed;
        margin: 5.4rem 0 0 2.2rem; // margin-top 70px + 1rem (por navbar)
        padding: 0.3rem;

        @media only screen and (max-width: 720px) {
            margin-left: 1.7rem;
        }
        @media only screen and (max-width: 500px) {
            margin-left: 0.7rem;
            font-size: 1rem;
        }

        &:hover {
            font-size: 1.3rem;

            @media only screen and (max-width: 500px) {
                font-size: 1.1rem;
            }
        }
        &:active {
            color: $white;
            background-color: $livingcoral; // change color
            border-radius: 7px;
        }
    }
}


// MENU -------------------------------------------

#menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 70px 2rem 2rem 2rem;

    .menu-item {
        width: 180px;
        height: 180px;
        border: 6px solid $livingcoral; // change color
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 1.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-align: center;
        line-height: 1.2;
        color: $livingcoral;  // change color
        font-size: 1.4rem;

        @media only screen and (min-width: $smartphone) and (max-width: $tablet) {
            width: 150px;
            height: 150px;
            font-size: 1.2rem;
        }
        @media only screen and (max-width: $smartphone) {
            width: 120px;
            height: 120px;
            font-size: 0.9rem;
            margin: 0.8rem;
        }

        &:hover {
            background-color: $livingcoral; // change color
            color: $white;
            border: none;
        }
        &:active {
            font-size: 1.5rem;

            @media only screen  and (min-width: $smartphone) and (max-width: $tablet) {
                font-size: 1.3rem;
            }
            @media only screen and (max-width: $smartphone) {
                font-size: 1rem;
            }
        }
    }

    // ONLY GRAPHIC DESIGN 
    #photography {
        // text-transform: uppercase;
        // font-size: 1.25rem;
        border: 9px double $livingcoral;
    }
    // ---------------------
}

.img-container {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 1rem;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

// ONLY GRAPHIC DESIGN 
#photo {
    .img-container{
        width: 100%;
        margin: 0;
    }

    #img-web {
        display: block;

        @media only screen and (max-width: $smartphone) {
            display: none;
        }

    }

    #img-mobile {
        display: none;
        
        @media only screen and (max-width: $smartphone) {
            display: block;
        }
    }
}

.comments {
    width: 40%;
    margin: 0 auto 5rem auto;
    text-align: center;
    color: $blue-depths;
    line-height: 2;

    @media only screen and (max-width: $tablet) {
        width: 70%;
    }
    
    h3 {
        font-family: 'Alcubierre', sans-serif;
        font-size: 3rem;
        font-weight: lighter;
        margin-top: 3rem;
    }

    h4 {
        font-family: 'Alcubierre', sans-serif;
        font-size: 1rem;
        font-weight: lighter;
        margin-bottom: 2rem;
        
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: lighter;
        text-align: justify;
    }
}

#video-menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    .video-item {
        width: 100%;
        height: auto;
        border: 2px solid $blue-depths;
        display: inline-flex;
        align-content: center;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 1.4rem;
        line-height: 1.2;
        padding: 1rem;
        margin: 1rem auto;
        color: $blue-depths;
    }

    .link-working {
        &:hover {
            border: 4px solid $blue-depths;
            font-weight: bolder;
        }
        &:active {
            border: 4px solid $blue-classic;
        }
    }
}

#video {
    .comments {
        margin-bottom: 1rem;

        @media only screen and (max-width: $tablet) {
            width: 70%;
        }
        @media only screen and (max-width: $smartphone) {
            width: 90%;
        }

        h4 {
            @media only screen and (max-width: $smartphone) {
                font-size: 0.9rem;
            }
        }

        width: 50%;
        p {
            text-align: center;
        }
    }
}

.cursive {
    font-style: oblique;
}

.normal {
    font-weight: normal;
}

.strong {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

// ---------------------

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 3rem;
        color: $blue-depths; // change color
        font-weight: bold;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 1rem;

        @media only screen and (max-width: $smartphone) {
            font-size: 1.5rem;
        }
    }
}