@import "helpers/variables";
@import "helpers/fonts";
@import "helpers/placeholders";
@import "helpers/mixins";

// GENERAL -------------------------------------------
body {
    font-size: 16px;

    a {
        text-decoration: none;
    }
}

// HEADER -------------------------------------------
// Navbar ----------------
.navbar {
    @include navbar ($livingcoral);  // change color

    @media only screen and (min-width: 500px) and (max-width: 720px) {
        height: auto;
        min-height: 70px;
        padding: 0 1rem;
    }
    @media only screen and (max-width: 500px) {
        justify-content: space-between;
        padding-right: 0;
    }

    ul {
        width: 100%;
        height: 70px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 500px) and (max-width: 720px) {
            height: auto;
            display: flex;
            justify-content: space-around; 
        }
        @media only screen and (max-width: 500px) {
            display: flex;
            justify-content: space-evenly; 
        }

        li {
            a {
                @extend %nav-link;
                
                @media only screen and (max-width: 720px) {
                    margin: 0 0.5rem;
                    padding: 0.5rem;
                }
                @media only screen and (max-width: 500px) {
                    transform: scale(0.9);
                    margin: 0 0.3rem;
                }
            }
        }
    }
    
    #link-selected {
        a {
            @include selected ($white);

            // &:hover {
            //     @include selected-hover (bold);
            // }
            &:active {
                @include selected-active ($blue-classic); // change color
            }
        }
    }

    #link-non-selected {
        a {
            @include non-selected ($cream);

            &:hover {
                @include non-selected-hover (normal);
            }
            &:active {
                @include selected-active ($blue-classic); // change color
            }
        }
    }


    #graph1 {
        @media only screen and (max-width: 500px) {
            display: none;
        }
    }

    #graph2 {
        display: none;
        @media only screen and (max-width: 500px) {
            display: block;
        }
    }

    #index {
        display: inline-flex;
        align-items: center;

        @media only screen and (max-width: 720px) {
            justify-content: center;
        }

        i {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            color: $white;

            @media only screen and (max-width: 500px) {
                padding: 0.5rem 1rem 0.5rem 0; 
            }

            &:hover {
                font-size: 1.3rem;
            }
            &:active {
                @include selected-active ($blue-classic); // change color
            }
        }
    }
}


// Menu Icon ----------------
#menu-icon {
    i {
        font-size: 1.2rem;
        color: $livingcoral; // change color
        position: fixed;
        margin: 1rem 0 0 2.2rem;
        padding: 0.3rem;

        @media only screen and (max-width: 720px) {
            margin-left: 1.7rem;
        }
        @media only screen and (max-width: 500px) {
            margin-left: 1.2rem;
        }

        &:hover {
            font-size: 1.3rem;
        }
        &:active {
            color: $white;
            background-color: $livingcoral; // change color
            border-radius: 7px;
        }
    }
}