// MAIN -----------------------------------------------------------

@mixin square ($bg-color, $color, $font-size, $border) {
    width: 150px;
    height: 150px;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    background-color: $bg-color;
    color: $color;
    font-size: $font-size;
    border: $border;

}

@mixin square-hover ($border, $font-size) {
    width: 180px;
    height: 180px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    font-size: $font-size;
    border: $border;
    transition: width, height, font-size, font-weight;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

@mixin square-active ($border, $font-size, $bg-color, $color) {
    width: 180px;
    height: 180px;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: $font-size;
    border: $border;
    background-color: $bg-color;
    color: $color;
    transition: font-size, border, background-color, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

// NAVBAR -----------------------------------------------------------

@mixin navbar ($bg-color) {
    width: 100%;
    height: 70px;
    z-index: 10;
    position: fixed;
    display: flex;
    padding: 0 1.5rem;
    background-color: $bg-color;
}

@mixin selected ($color: white) {
    color: $color;
    font-weight: bold;
}

@mixin selected-hover ($weight: bold) {
    font-weight: $weight;
}

@mixin non-selected ($color: $cream) {
    color: $color;
    font-weight: lighter;
}

@mixin non-selected-hover ($weight: normal) {
    font-weight: $weight;
}

@mixin selected-active ($color) {
    color: $color;
}

@mixin texto-ppal ($font-size: 1rem, $line-height: 1.5, $font-weight: normal, $padding-top: 0.5rem) {
    color: $blue-depths;
    padding-top: $padding-top;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin texto-base ($font-size: 1rem, $line-height: 1.5, $font-weight: normal, $padding-left: 1.5rem) {
    color: $blue-depths;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    padding-left: $padding-left;
}
