// colors
$blue-classic: #004680;
$blue-depths: #263056;
$cream: #F1F0E2;
$white: #ffffff;
$livingcoral: #FF6F61;


// screen sizes
$smartphone: 480px;
$tablet: 768px;
$desktop: 1024px;

// @media only screen and (min-width: $tablet) and (max-width: $desktop)

// @media only screen and (max-width: $tablet)

// @media only screen and (min-width: $smartphone) and (max-width: $tablet)

// @media only screen and (max-width: $smartphone)